header a{
    text-decoration: none;
    color: black;
}
.header-line-1 {
    display: flex;
    height: 64px;
    justify-content: space-between;
    max-width: 1264px;
    margin: 0px auto;
    
}
.header-line-1-geo{
    display: flex;
    font-size: 14px;
    margin-top: 22px;
}
.header-line-1-geo span{
    vertical-align: middle;
    padding-right: 12px;
}
.header-line-1-geo img{
    vertical-align: middle;
}
.header-line-1-links{
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
}
.header-line-1-links a{
    padding-left: 40px;
}
.header-line-2{
    height: 80px;
    background-color: #02458D;
}
.header-burger{
    display: none;
}
.header-line-2-content{
    max-width: 1264px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.header-line-2-logo{
    padding-top: 18px;
}
.header-line-2-logo img:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.header-line-2-contacts{
    display: flex;
    max-width: 612px;
    padding-top: 21px;
}
.header-line-2-socials a{
    padding-left: 16px;
}
.header-line-2-socials img{
    width: 28px;
}
.header-line-2-socials a img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.header-line-2-phone{
    padding: 0 26px;
}
.header-line-2-phone a{
    color: white;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 10px;
}
.header-line-2-phone img{
    vertical-align: middle;
}
.header-line-2-call a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 39px;
    border-radius: 10px;
    background-color: #FFF;
    color: #02458D;
    font-weight: 600;
    font-size: 15px;
}